body {
  background-color: #444;
  color: black;
}
header {
  margin: 0, auto;
  text-align: center;
}
.contenedor {
  border: 2px solid orchid;
  border-radius: 15% 0 15% 0;
  padding: 1.5rem;
  margin: 0.5rem;
  max-width: 1200px;
}

.navegador {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.encabezado {
  text-align: center;
}
