body{
    background-color: #444;
    color: black;
}

.contenedor {
    border: 2px solid orchid;
    border-radius: 15% 0 15% 0;
    padding: 1.5rem;
    margin: .5rem;
}
.navegador {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}
.encabezado{
    text-align: center;
}